{#
SPDX-FileCopyrightText: 2022 Hugo Rodrigues

SPDX-License-Identifier: MIT
#}

user = '{{ xo_user }}'
group = '{{ xo_user }}'
datadir = '/var/lib/xo-server/data'
{% if http_proxy != "" %}
httpProxy = '{{ http_proxy }}'
{% endif %}
[http]
{% if not use_caddy %}
redirectToHttps = true
{% endif %}
sessionSecret = '{{ xo_secret.stdout }}'
{% if use_caddy %}
publicUrl = 'https://{{ xo_hostname }}'
{% else %}
publicUrl = 'https://{{ xo_hostname }}:20789'
{% endif %}


[http.cookies]
sameSite = true
secure = true

[[http.listen]]
{% if use_caddy %}
host = '127.0.0.1'
{% else %}
host = '0.0.0.0'
autoCert = false
cert = '/etc/xo-server/certificate.pem'
key = '/etc/xo-server/key.pem'
{% endif %}
port = 20789

[redis]
uri = 'redis://localhost:6379/0'

[remoteOptions]
useSudo = true
