{#
SPDX-FileCopyrightText: 2022 Hugo Rodrigues

SPDX-License-Identifier: MIT
#}

# systemd service for XO-Server.

[Unit]
Description= Xen Orchestra Server
After=network-online.target
After=redis.service

[Service]
User={{ xo_user }}
Group={{ xo_user }}
Environment="NODE_ENV=production"
{% if use_openssl_ca %}
Environment="NODE_OPTIONS=--use-openssl-ca"
{% endif %}
WorkingDirectory={{ xo_root }}/packages/xo-server
ExecStart={{ yarn_exe }} start
Restart=always
SyslogIdentifier=xo-server

[Install]
WantedBy=multi-user.target
